/* Mobile responsive */
@media screen and (max-width: 576px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    .desktop_nav {
        display: none;
    }
    /* ============================== */

    .mobile_tab_nav {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 32px);
        padding: 0px 16px;
        border-bottom: 1px solid var(--orange);
        height: 100px;
    }
    .nav_logo {
        width: 46px;
    }
    .nav_three_dot i {
        font-size: 32px;
    }

    .marq_text {
        width: 100%;
    }

    /* ============================== */
    /* banner section */
    .banner_section {
        display: flex;
        flex-direction: column-reverse;
        width: calc(100% - 30px);
        text-align: center;
        padding: 25px 15px;
    }
    .banner_text {
        margin-top: 20px;
    }
    .banner_text > h1 {
        font-size: 32px;
    }
    .banner_text > p {
        font-size: 14px;
        margin: 32px 0px;
    }

    /* ============================== */

    /* ============================== */
    /* curriculum section */

    .curriculum_raper {
        width: 100%;
    }
    .curriculum_arrow {
        display: none;
    }
    .curriculum_card_parent {
        display: flex;
        flex-direction: column;
    }
    .curriculum_raper h1 {
        font-size: 32px;
    }
    .curriculum_card_parent > div {
        margin: 0px 15px;
        margin-bottom: 30px;
        width: calc(100% - 84px);
    }

    /* ============================== */

    /* ============================== */
    /* Story section */
    .story_parent {
        width: 100%;
        padding: 0px;
        padding-bottom: 50px;
    }
    .story_parent > h1 {
        font-size: 32px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .story_cart_parent {
        display: grid;
        grid-template-columns: 100%;
    }
    .story_big_cart {
        display: none;
    }
    .story_normal_cart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 12px;
        margin: 15px;
    }
    .normal_cart_text {
        margin: 32px 15px;
        font-size: 14px;
    }
    .normal_cart_text span {
        font-size: 10px;
    }
    .view_btn {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    /* ============================== */

    /* ============================== */
    /* Footer section */

    .footer_section {
        width: calc(100% - 30px);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        padding: 80px 15px;
    }
    .footer_text div {
        justify-content: center;
    }
    .footer_text p {
        text-align: center;
        margin: 50px auto;
    }

    .footer_about {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .footer_about h3 {
        text-align: center;
    }
    .footer_about ul li {
        margin-left: 35px;
    }

    .footer_social {
        text-align: center;
        margin-top: 20px;
    }
    .footer_social div {
        justify-content: center;
    }

    /* ============================== */
}
