


@media screen and (min-width: 576px) and (max-width: 992px){
    /* common code */
    *{
        margin: 0px;
        padding: 0px;
    }
    .desktop_nav{
        display: none;
    }
    /* ============================== */
    /* nav bar section */
    .mobile_tab_nav{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 32px);
        padding: 0px 16px;
        border-bottom: 1px solid var(--orange);
        height: 100px;
    }
    .nav_logo{
        width: 46px;
    }
    .nav_three_dot i{
        font-size: 32px;
    }
}
/* Mobile responsive */
@media screen and (max-width: 576px){
    *{
        margin: 0px;
        padding: 0px;
    }
    .desktop_nav{
        display: none;
    }
    /* ============================== */

    .mobile_tab_nav{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 32px);
        padding: 0px 16px;
        border-bottom: 1px solid var(--orange);
        height: 100px;
    }
    .nav_logo{
        width: 46px;
    }
    .nav_three_dot i{
        font-size: 32px;
    }
    

    /* ============================== */



    /* ============================== */



}