/* font family Quick */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* common color */
:root {
    --white: #f7f7f7;
    --orange: #fea301;
    --sky-lue: #01acfd;
    --black: #111111;
    --cyan: #05d4df;
    --blue-violet: #5d58ef;
}

/* =========== Nav BAr =========== */

nav {
    width: 1160px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.mobile_tab_nav {
    display: none;
}

.logo_start {
    display: flex;
    column-gap: 11px;
    align-items: center;
}

.logo_start h2 {
    font-size: 2rem;
}
.nav_item ul {
    display: flex;
    column-gap: 32px;
    list-style: none;
    padding-left: 0px;
}
.nav_item ul a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.nav_item li:nth-child(1) a {
    color: var(--orange);
}
.nav_item li:nth-child(2) a {
    color: var(--sky-lue);
}
.nav_item li:nth-child(3) a {
    color: var(--cyan);
}
.nav_item li:nth-child(4) a {
    color: var(--blue-violet);
}

.btn_div button {
    padding: 10px 60px;
    font-size: 1.25rem;
    border-radius: 12px;
    background-color: var(--orange);
    border: none;
    cursor: pointer;
}

/* =============================== */

/* =============================== */
/* Banner section */

.banner_section {
    width: 1160px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}
.banner_text {
    width: 100%;
}
.banner_text > h1 {
    font-size: 3.5rem;
}
.banner_text h1 :nth-child(1) {
    color: var(--orange);
}
.heading_span_2 {
    color: var(--sky-lue);
}
.banner_text > p {
    font-size: 1.25rem;
    margin: 32px 0px;
}
.banner_text > button {
    font-size: 1.25rem;
    padding: 12px 47px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    border-radius: 12px;
    cursor: pointer;
}
.banner_img {
    width: 100%;
}
.banner_img img {
    width: 100%;
}

/* =============================== */

/* =============================== */
/* Curriculum */
.curriculum_section {
    background-image: url("/assets/bg.png");
    background-repeat: no-repeat;

}
.curriculum_raper {
    width: 1160px;
    margin: 0px auto;
    
}
.curriculum_raper h1 {
    font-size: 46px;
    text-align: center;
    margin-top: 60px ;
    margin-bottom: 80px ;
}
.curriculum_card_parent{
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
    margin-bottom: 80px;
}
.curriculum_card_parent >div{
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    text-align: center;
    padding: 52px 26px;
}

.curriculum_card_parent div >h3{
    font-size: 25px;
    margin: 32px 0px;
}
.curriculum_card_parent div >p{
    font-size: 14px;
    line-height: 28px;
    color: #808080;
    margin-bottom: 33px;
}
.curriculum_card_parent div >span{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.kinder_cart{
    box-shadow: inset 0px 100px 200px -200px rgba(100,200,255,1);
}
.kinder_cart img{
    height: 126px;
}
.kinder_cart span{
    color: var(--sky-lue);
}
.elementary_cart {
    box-shadow: inset 0px 100px 200px -200px rgba(240,170,0,1);
}
.elementary_cart span{
    color: var(--orange);
}
.middle_cart {
    box-shadow: inset 0px 100px 200px -200px rgba(135,0,255,1);
}
.middle_cart span{
    color: var(--blue-violet);
}

.curriculum_arrow{
    text-align: center;
    
}
.curriculum_arrow i:nth-child(1){
    margin-right: 8px;
}
.curriculum_arrow i:nth-child(2){
    margin-left: 8px;
}
.curriculum_arrow i{
    background-color: var(--orange);
    font-size: 24px;
    border-radius: 100%;
    padding: 20px 23.75px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* =============================== */
